---
---

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.sidebar {
  position: relative !important;
  height: auto !important;
  border-bottom: 5rem solid transparent !important; 
  margin-top: 0 !important;
}

.masthead__inner-wrap {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  align-items: center; /* Helps center items vertically */
}

/* Remove default bottom margins from the site title (your name) */
.site-title {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  display: flex;
  align-items: center;
}

/* Remove default bottom margins from the navigation menu */
.masthead__menu ul {
  margin-bottom: 0 !important;
}

.greedy-nav {
  margin-bottom: 0 !important;
}
